<div [ngSwitch]="myValue">
    <span *ngSwitchCase="1">Valor 1</span>
    <span *ngSwitchCase="2">Valor 2</span>
    <span *ngSwitchCase="3">Valor 3</span>
    <span *ngSwitchCase="0">Valor Padrão</span>
</div>

<ul>
    <li *ngFor="let item of myList">
        {{ item }}
    </li>
</ul>

<h1>{{ name }}</h1>

<input type="text" [(ngModel)]="name">

<br><br><br><br>

<select (change)="0" #minhaClasse >
    <option value="1">Classe 1</option>
    <option value="2">Classe 2</option>
    <option value="3">Classe 3</option>
</select>

<div 
    [style.display]="minhaClasse.value == '1' ? 'none' : 'block'"
>Minha Classe</div>